@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

@keyframes afterFilter {
  0% {
    opacity: 0;
    transform: rotate(0deg) scale(0.8);
  }
  90% {
    opacity: 1;
    transform: rotate(80deg) scale(1);
  }
  100% {
    opacity: 1;
    transform: rotate(90deg) scale(1);
  }
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

main {
  padding: 0 100px;
  margin-bottom: 100px;
}
main .search__containerBar {
  position: relative;
}
main .search__containerBar__bar {
  width: 100%;
  height: 70px;
  background-color: #E7E7E7;
  padding: 25px;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  border-radius: 5px;
}
main .search__containerBar__bar::placeholder {
  color: rgba(0, 0, 0, 0.25);
}
main .search__containerBar::after {
  content: "\f002";
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  position: absolute;
  right: 25px;
  top: 50%;
  font-size: 2.4rem;
  transform: translateY(-50%);
}
main .search__containerFilter {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}
main .search__containerFilter__filter {
  color: white;
  border-radius: 5px;
  font-size: 1.8rem;
  width: 170px;
  height: 70px;
  position: relative;
}
main .search__containerFilter__filter#filterIngredients {
  background-color: #3282F7;
}
main .search__containerFilter__filter#filterIngredients ul {
  background-color: #3282F7;
}
main .search__containerFilter__filter#filterIngredients ul li::after {
  color: #3282F7;
}
main .search__containerFilter__filter#filterIngredients ul li:hover {
  background-color: #2f75df;
}
main .search__containerFilter__filter#filterAppareils {
  background-color: #68D9A4;
}
main .search__containerFilter__filter#filterAppareils ul {
  background-color: #68D9A4;
}
main .search__containerFilter__filter#filterAppareils ul li::after {
  color: #68D9A4;
}
main .search__containerFilter__filter#filterAppareils ul li:hover {
  background-color: #67c498;
}
main .search__containerFilter__filter#filterUstentiles {
  background-color: #ED6454;
}
main .search__containerFilter__filter#filterUstentiles ul {
  background-color: #ED6454;
}
main .search__containerFilter__filter#filterUstentiles ul li::after {
  color: #ED6454;
}
main .search__containerFilter__filter#filterUstentiles ul li:hover {
  background-color: #d35648;
}
main .search__containerFilter__filter label {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 25px 15px;
}
main .search__containerFilter__filter label:hover > ul {
  display: block;
}
main .search__containerFilter__filter label .inputFiltre {
  display: none;
}
main .search__containerFilter__filter ul {
  display: none;
  padding: 0 15px 15px 15px;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 0 0 5px 5px;
}
main .search__containerFilter__filter ul li {
  flex-basis: 33.3%;
  margin-top: 5px;
  font-weight: 400;
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  height: 39px;
  align-items: center;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
main .search__containerFilter__filter ul li:hover {
  font-weight: 700;
}
main .search__containerFilter__filter ul li:hover::after {
  content: "+";
  margin-left: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 100%;
  color: black;
  font-size: 20px;
  animation: afterFilter 0.3s forwards;
}
main .search__containerFilter__filter.active {
  height: auto;
  width: 40%;
  transition: 0.3s;
  border-radius: 5px 5px 0 0;
}
main .search__containerFilter__filter.active ul {
  display: flex;
  position: absolute;
  width: 100%;
}
main .search__containerFilter__filter.active .title {
  display: none;
}
main .search__containerFilter__filter.active .inputFiltre {
  display: block;
  color: white;
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  width: 100%;
}
main .search__containerFilter__filter.active .inputFiltre::placeholder {
  color: white;
  opacity: 0.65;
}
main .search__containerFilter__filter.active .inputFiltre:focus {
  outline: none;
}
main .search__containerTags {
  display: flex;
  width: 100%;
  padding: 20px 0;
  gap: 20px;
  flex-wrap: wrap;
  min-height: 85px;
  transition: 0.3s all ease-in-out;
}
main .search__containerTags__tag {
  font-weight: 400;
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  height: 45px;
  align-items: center;
  font-size: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  color: white;
}
main .search__containerTags__tag.ingredients {
  background-color: #3282F7;
}
main .search__containerTags__tag.appareils {
  background-color: #68D9A4;
}
main .search__containerTags__tag.ustentiles {
  background-color: #ED6454;
}
main .search__containerTags__tag::after {
  content: "\f00d";
  font-family: "Font Awesome 6 Pro";
  margin-left: 10px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
  border-radius: 100%;
  font-size: 20px;
  font-weight: 900;
  border: solid 3px white;
}
main .search__containerTags__tag:hover.ingredients {
  background-color: #2f75df;
}
main .search__containerTags__tag:hover.appareils {
  background-color: #67c498;
}
main .search__containerTags__tag:hover.ustentiles {
  background-color: #d35648;
}
main .recettes {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8%;
  row-gap: 50px;
}
main .recettes .error {
  font-size: 2rem;
  color: #918989;
  margin-top: 20px;
  font-weight: 600;
}
main .recettes__card {
  height: 364px;
  width: 28%;
  min-width: 365px;
  border-radius: 5px;
  overflow: hidden;
}
main .recettes__card__illu {
  width: 100%;
  height: 178px;
  background-color: #C7BEBE;
}
main .recettes__card__text {
  background-color: #E7E7E7;
  padding: 20px;
  height: 100%;
}
main .recettes__card__text__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .recettes__card__text__top h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 22px;
  color: black;
}
main .recettes__card__text__top span {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  font-family: "Lato";
}
main .recettes__card__text__top span i {
  font-size: 2rem;
}
main .recettes__card__text__bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
main .recettes__card__text__bottom ul {
  width: 50%;
}
main .recettes__card__text__bottom ul li {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 14px;
}
main .recettes__card__text__bottom p {
  width: 50%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
}

/*# sourceMappingURL=style.css.map */
